@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 97vh;
    position: relative;
}

section#container {
    display: block;
    float: left;
    background-color: lightgray;
    height: 103%;
    width: 43%;
    position: relative;
}

.div1 > h1 {
    font: bolder 18pt 'Arial';
    font-variant: small-caps;
    margin-top: 50px;
    margin-left: 10px;
    color: rgba(19, 75, 180, 0.801);
    text-align: center;
}

.div1 {
    position: absolute;
    left: 0%;
    top: 10%;
    display: block;
    padding: 0px;
}

.p2 {
    padding: 10px;
    font: bolder 15pt  'Arial';
    color: rgba(19, 76, 180, 0.918);
}

.p3 {
    text-align: center;
    padding: 20px;
}

.formparagraph {
    padding: 10px;
    margin: 5px;
}

.areatexto {
    margin-left: 15px; 
    margin-top: 5px;
}

textarea {
    width: 269px;
    height: 100px;
}

#redes-sociais {
    margin-top: 71vh;
}

#redes-sociais img {
    width: 30px;
    border-radius: 50%;
    box-sizing: border-box;
    margin-left: 15px;
}

address {
    text-align: center;
    font-size: 10pt;
    margin-top: 20px;
}

section#bloco {
    display: block;
    float: left;
    background-color: rgba(38, 105, 230, 0.514);
    height: 103%;
    width: 57%;
    
}

#bloco > h1 {
    padding: 10px;
    margin-top: 100px;
    margin-left: 5px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(181, 181, 240);
}

p > input[type=submit] {
    margin-top: 20px;
    margin-left: 15px;
    padding: 10px;
    width: 100px;
    background-color: rgba(38, 105, 230, 0.514);
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

input[type=text], [type=email] {
    padding: 7px;
    width: 270px;
}
