@charset "UTF-8";

@media screen and (min-width: 500px) {
    body {
        width: 100vw;
        height: 100vh;
        background-color: #ffffff;
        margin: 0px;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: 2fr 3fr;
        height: 568px;
      }
    
    .coluna {
        background: lightgray;
    }
    
    .coluna2 {
        background: rgb(43, 76, 138);
    }

    .redes-sociais img {
    width: 25px;
    margin: 10px;
    border-radius: 50%;
    box-sizing: border-box;
    }
}

